<div class="container-fluid">
    <div class="col-xs-4 col-xs-offset-4">
        <form class="form-signin" action="/api/v1/auth/authentication">
            <h2 class="form-signin-heading">Please sign in</h2>
            <label for="inputEmail" class="sr-only">Username</label>
            <input type="text" id="username" class="form-control" placeholder="Username" required="" autofocus=""/>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" class="form-control" placeholder="Password" required=""/>
            <!--<div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me</input>
                </label>
            </div>-->
            <button class="btn btn-lg btn-primary btn-block auth-submit" type="submit">Sign in</button>
        </form>
    </div>
</div>