<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width"/>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css"/>
  <link rel="stylesheet" href="/components/bootstrap-sweetalert/dist/sweetalert.css"/>
  <link rel="stylesheet" href="/components/bootstrap-select/dist/css/bootstrap-select.css"/>
</head>
<body>