body {
    background-color: #fafafa;
}

#password {
    margin-bottom: 10px;
}

.panel-title-with-button {
    padding-top: 7.5px;
}

.panel-title-wrapper {

    margin: 8px 0;

    .panel-title {
        text-align: center;
    }

}

.entry:not(:first-of-type) {
    margin-top: 10px;
}

.btn-add, .btn-remove{
    padding-bottom: 7px;
}

.container-fluid {
    margin-top: 16px;
}

.btn-rud form {
    
    padding: 0;
    border: 0;

    button.btn {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

}

.toolbar {
    margin-bottom: 4px;
}

.table {
    .btn-group {
        white-space: nowrap; 
        font-size: 0; // inline-block will show ALL whitespace between elements, so shrink it!
        .btn {
            display: inline-block;
            font-size: 14px; // restore font-size to whatever you are using for button text.
            float: none;
            clear: none;
        }   
    }
}

.inline-block {
    display: inline-block;
}

.no-border-right {
    border-right: 0 !important;
}

.no-border-left {
    border-left: 0 !important;
}

.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}