<div class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left panel-title-with-button">{{title}}</h3>
                <button type="button" class="btn btn-labeled btn-default pull-right back-button" data-uri="{{resourceURL}}">
                    <span class="btn-label">
                        <i class="glyphicon glyphicon-chevron-left"></i> Back
                    </span>
                </button>
            </div>
            <div class="panel-body">
                {{#> edit-form}}
                    Something Went Wrong with Handlebars Templates
                {{/edit-form}}
            </div>
        </div>
    </div>
</div>        