<div class="ui text container">
    <div class="ui top attached secondary segment clearing">
        <h4 class="ui left floated header">View IP</h4>
        <back-button></back-button>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui relaxed divided list">
            <div class="item">
                <div class="content">
                    <div class="header">IP Address</div>
                    {{ ip.address}}
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Description</div>
                    {{ ip.description}}
                </div>
            </div>
        </div>
    </div>
</div>