<div class="ui text container">
    <div class="ui top attached secondary segment clearing">
        <h4 class="ui left floated header">View Operation</h4>
        <back-button></back-button>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui relaxed divided list">
            <div class="item">
                <div class="content">
                    <div class="header">Name</div>
                    {{ operation.name }}
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Number of Positional Parameters</div>
                    {{ operation.positionalNumOfParams }}
                </div>
            </div>
            <div *ngIf="operation.namedParams.length !== 0" class="item">
                <div class="content">
                    <div class="header">Named Parameters</div>
                    <span *ngFor="let param of operation.namedParams; let last = last">
                        {{ param }}<span *ngIf="!last">, </span>
                    </span>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Request Method</div>
                    {{ operation.requestMethod }}
                </div>
            </div>
            <div *ngIf="operation.externalUrl" class="item">
                <div class="content">
                    <div class="header">External URL</div>
                    {{ operation.externalUrl }}
                </div>
            </div>
            <div *ngIf="operation.tokenInHeaders" class="item">
                <div class="content">
                    <div class="header">Token in Headers</div>
                    {{ operation.tokenInHeaders }}
                </div>
            </div>
            <div *ngIf="operation.tokenInParams" class="item">
                <div class="content">
                    <div class="header">Token in Parameters</div>
                    {{ operation.tokenInParams }}
                </div>
            </div>
            <div *ngIf="operation.tokenKey" class="item">
                <div class="content">
                    <div class="header">Token Key</div>
                    {{ operation.tokenKey }}
                </div>
            </div>
            <div *ngIf="operation.tokenValue" class="item">
                <div class="content">
                    <div class="header">Token Value</div>
                    {{ operation.tokenValue }}
                </div>
            </div>
        </div>
    </div>
</div>