<div class="ui text container">
    <div class="ui top attached secondary segment clearing">
        <h4 class="ui left floated header">Edit Operation</h4>
        <back-button></back-button>
    </div>
    <div class="ui bottom attached segment">
        <form (ngSubmit)="onSubmit()" [ngClass]="{'success': success, 'error': error }" class="ui form">
            <div class="ui success message">
                <div class="header">Operation Edited Succesfully</div>
            </div>
            <div class="ui error message">
                <div class="header">There was an error editing the Operation</div>
            </div>
            <div class="field">
                <label>Name</label>
                <input [(ngModel)]="operation.name" name="name" type="text" placeholder="Name">
            </div>
            <div class="field">
                <label>Description</label>
                <textarea [(ngModel)]="operation.description" name="description" type="text" placeholder="description"></textarea>
            </div>
            <div class="field">
                <label>Positional Number of Parameters</label>
                <input [(ngModel)]="operation.positionalNumOfParams" name="positionalNumOfParams" type="number" placeholder="Positional Number of Parameters">
            </div>
            <div class="field">
                <label>Named Parameters</label>
                <div *ngFor="let param of operation.namedParams; let i = index; let last = last; trackBy:customTrackBy"  class="ui action input">
                    <input [(ngModel)]="operation.namedParams[i]" name="namedParams-{{i}}" type="text" placeholder="Named Params">
                    <div *ngIf="!last" (click)="removeNamedParam(i)" class="ui red icon button">
                        <i class="minus icon"></i>
                    </div>
                    <div *ngIf="last" (click)="addNamedParam($event)" class="ui green icon button">
                        <i class="plus icon"></i>
                    </div>
                </div>
            </div>
            <div class="ui accordion field">
                <div class="title">
                    <i class="icon dropdown"></i>
                    Optional Details
                </div>
                <div class="content">
                    <div class="field">
                        <label>External Url</label>
                        <input [(ngModel)] = "operation.externalUrl" name="externalUrl" type="text" placeholder="External Url">
                    </div>
                    <div class="grouped fields">
                        <label>Request Method</label>
                        <div *ngFor="let method of requestMethods" class="field">
                            <div class="ui radio checkbox">
                                <input [attr.checked]="method === radioRequestMethod.value ? true : null" [attr.id]="method" (click)="radioRequestMethod.value = method" type="radio" name="requestMethod" [attr.value]="method">
                                <label [attr.for]="method">{{ method }}</label>
                            </div>
                        </div>
                    </div>
                    <div class="grouped fields">
                        <label>Token Location</label>
                        <div *ngFor="let location of tokenLocations" class="field">
                            <div class="ui radio checkbox">
                                <input [attr.checked]="location === radioTokenLocation.value ? true : null" [attr.id]="location" (click)="radioTokenLocation.value = location" type="radio" name="location" [attr.value]="location">
                                <label [attr.for]="location">{{ location }}</label>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="radioTokenLocation.value != 'None'" class="two fields">
                        <div class="field">
                            <label>Token Key</label>
                            <input [(ngModel)]="operation.tokenKey" name="tokenKey" type="text" placeholder="Token Key">
                        </div>
                        <div class="field">
                            <label>Token Value</label>
                            <input [(ngModel)]="operation.tokenValue" name="tokenValue" type="text" placeholder="Token Value">
                        </div>
                    </div>
                </div>
            </div>
            <button class="ui button" type="submit">Submit</button>
        </form>
    </div>
</div>
