<div *ngIf="auth.isLoggedIn()" class="ui segment">
  <div class="ui secondary pointing menu container">
    <a class="header item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      <img class="logo" src="assets/images/rpcms_logo_dark.png">
    </a>
    <!--<a class="item" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">-->
      <!--Home-->
    <!--</a>-->
    <a *ngIf="auth.isLoggedInIp()" class="item" routerLink="/users" routerLinkActive="active">
      Users
    </a>
    <a *ngIf="auth.isAdmin()" class="item" routerLink="/operations" routerLinkActive="active">
      Operations
    </a>
    <a *ngIf="auth.isLoggedInIp()" class="item" routerLink="/ip-blacklist" routerLinkActive="active">
      IP Blacklist
    </a>
    <a *ngIf="!auth.isLoggedInIp()" class="item right" (click)="logout()">
      Logout
    </a>
  </div>
</div>

<router-outlet></router-outlet>