/* You can add global styles to this file, and also import other style files */

.ui.right.floated.button.back-button {
    border: 1px solid #ccc;
    background-color: white;

    &:hover {
        background-color: #f2f2f2;
    }
}
