<div class="ui text container">
    <div class="ui top attached secondary segment clearing">
        <h4 class="ui left floated header">View User</h4>
        <back-button></back-button>
    </div>
    <div class="ui bottom attached segment">
        <div class="ui relaxed divided list">
            <div class="item">
                <div class="content">
                    <div class="header">Username</div>
                    {{ user.username }}
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Admin</div>
                    {{ user.admin }}
                </div>
            </div>
            <div *ngIf="user.operations.length !== 0" class="item">
                <div class="content">
                    <div class="header">Operations</div>
                    <span *ngFor="let op of user.operationNames; let last = last">
                        {{ op }}<span *ngIf="!last">, </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>